html, body {
    background-color: #F0F2F5 !important;
}

.logo-container {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer-container {
    width: 100vw;
    height: 10vh;
    background-color: green;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #F0F2F5;
}

.login-container {
    border-right: 1px solid black;
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container {
    border-left: 1px solid black;
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn {
    color: green !important;
    background-color: transparent !important;
    border-color: green !important;
    width: 50% !important;
}

.login-btn:hover {
    color: #F0F2F5 !important;
    background-color: green !important;
}

.signup-btn {
    color: green !important;
    background-color: transparent !important;
    border-color: green !important;
    width: 50% !important;
}

.signup-btn:hover {
    color: #F0F2F5 !important;
    background-color: green !important;
}