.navbar {
    background-color: green; 
    height: 10vh;
}

.nav-link {
    color: white;
    font-size: 15pt;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

.navbar-brand {
    font-family: Lobster; 
    color: white; 
    font-size: 25pt; 
    width: 15%; 
    text-align: center;
}

.main-container {
    width: 100vw;
    height: 90vh;
    background-color: #F0F2F5;
    display: flex;
}

#club-search-btn {
    color: green;
    background-color: transparent;
    border-color: green;
    width: 200px;
}




.grid-area-photo { grid-area: photo;}
.grid-area-name { grid-area: name; }
.grid-area-clubs { grid-area: clubs; }
.grid-area-description { grid-area: description; }
.grid-area-posts { grid-area: posts; }
.grid-area-friends { grid-area: friends; }
.grid-area-schedule { grid-area: schedule; }
.grid-area-info { grid-area: info; }
.grid-area-like { grid-area: like; }
.grid-area-search { grid-area: search; }
.grid-area-empty { grid-area: empty; }

.student-home-page{
    width: 100%;
    height: 140%;
    display: grid;
    grid-template-areas:
    'photo photo empty1 clubs clubs empty2'
    'schedule schedule schedule schedule schedule schedule'
    'schedule schedule schedule schedule schedule schedule'
    'schedule schedule schedule schedule schedule schedule'
    'schedule schedule schedule schedule schedule schedule';
    background-color: lightgreen;
    grid-gap: 5px;
    padding: 5px;
}

.student-personal-page{
    width: 100%;
    height: 140%;
    display: grid;
    grid-template-areas:
    'name name description description clubs clubs'
    'photo photo description description clubs clubs'
    'posts posts posts posts friends friends'
    'posts posts posts posts friends friends'
    'posts posts posts posts friends friends';
    background-color: lightgreen;
    grid-gap: 1px;
    padding: 1px;   
}

.club-home-page{
    width: 100%;
    height: 140%;
    display: grid;
    grid-template-areas:
    'photo photo like empty1 search empty2'
    'photo photo like empty1 search empty2'
    'info info description description description empty2'
    'info info description description description empty2'
    'info info description description description empty2'
    'info info description description description empty2';
    background-color: lightgreen;
    grid-gap: 5px;
    padding: 5px;
}

.club-personal-page{
    width: 100%;
    height: 140%;
    display: grid;
    grid-template-areas:
    'photo photo friends friends friends empty2'
    'photo photo friends friends friends empty2'
    'info info description description description empty2'
    'info info description description description empty2'
    'info info description description description empty2'
    'info info description description description empty2';
    background-color: lightgreen;
    grid-gap: 5px;
    padding: 5px;
}

.photo-size{
    width: 500px;
    height: 250px;
}
.student-photo-size{
    width: 200px;
    height: 200px;
}

.thumb-size{
    width: 50px;
    height: 50px;
}
